<%- include('./layout/header', { 
    pageStyles: pageStyles , pageTitle: title 
}) %>

<%- include('./components/navbar.ejs') %>
    
    <section>
        <div class='carousel__banner'>
            <span>working</span>
        </div>
    </section>


<%- include('./layout/footer.ejs', { 
    pageScripts: pageScripts 
}) %>
